<div
  class="slot"
  [style.left.%]="slot.left"
  [style.width.%]="slot.width"
  [style.background]="slot.color"
  [attr.data-id]="slot.id"
  [appSlotInvalid]="invalid"
  [class.compact-content]="compactContent"
  [appSlotDrag]="slot"
  [slotLocation]="location"
  [minutesInDay]="minutesInDay"
  [snapStep]="snapStep"
  (dragStart)="onDragStart($event)"
  (dragMove)="onDragMove($event)"
  (dragEnd)="onDragEnd($event)"
  (click)="onClick($event)"
>
  <div class="tn" [title]="slot.tn">{{ slot.tn }}</div>
  <div class="carrier" [title]="slot.carrier">{{ slot.carrier }}</div>
  <div
    class="h-left"
    data-h="L"
  ></div>
  <div
    class="h-right"
    data-h="R"
  ></div>
</div>
