<div
  class="slot"
  [style.left.%]="slot.left"
  [style.width.%]="slot.width"
  [style.background]="slot.color"
  [attr.data-id]="slot.id"
  (pointerdown)="onPointerDown($event, 'move')"
  (click)="onClick($event)"
>
  <div class="tn" [title]="slot.tn">{{ slot.tn }}</div>
  <div class="carrier" [title]="slot.carrier">{{ slot.carrier }}</div>
  <div
    class="h-left"
    data-h="L"
    (pointerdown)="onPointerDown($event, 'resize-start')"
  ></div>
  <div
    class="h-right"
    data-h="R"
    (pointerdown)="onPointerDown($event, 'resize-end')"
  ></div>
</div>
